@model Auction.Models.Manager

@{
    ViewData["Title"] = "Index";
}



<div style="margin:auto; ">
    <h4>Profile</h4>
    <hr />
     <div style="margin-left:450px">
        <img class="img-profile rounded-circle" heigh="300px" width= "300px"
                        src="~/img/undraw_profile.svg">
    </div>
    <dl class="row" style="margin-left:450px">
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles)
        </dd>
    </dl>
   
</div>
