@model IEnumerable<Auction.Models.Item>
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                    href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageItems)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsAccept)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsSold)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsPaid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PriceBuyNow)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Auction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PriceAuction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdCategoryNavigation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdUserNavigation)
                        </th>
                                       
                    </tr>
                </thead>  
                    <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageItems)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsAccept)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsSold)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsPaid)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PriceBuyNow)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Auction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PriceAuction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdCategoryNavigation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdUserNavigation)
                        </th>
                                        
                    </tr>
                </tfoot>     
                    <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageItems)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td style="background-color:greenyellow">
                                    @Html.DisplayFor(modelItem => item.IsAccept)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsSold)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsPaid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Discount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PriceBuyNow)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Auction)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PriceAuction)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdCategoryNavigation.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdUserNavigation.Username)
                                </td>
                                                
                            </tr>
                    }
                        </tbody>  
                </table>
            </div>
        </div>
    </div>
                     
</div>





