@model IEnumerable<Auction.Models.Item>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="~/Views/Shared/Table/_BeginTable.cshtml" />

    <thead>
        <tr>
             <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            
           
           
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            
           <td>
               @Html.DisplayFor(hi => item.Id)
           </td>
            <td>
                @Html.DisplayFor(hi => item.IdCategory)
            </td>
            <td>
                @Html.DisplayFor(hi => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccept)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
           
           
            
        </tr>
}
    </tbody>
<partial name="~/Views/Shared/Table/_EndTable.cshtml" />

